* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  .row {
    .text {
      p {
        display: none;
        padding: 30px;
      }
    button{
        display: flex;
        justify-content: space-between;
    }
    }
    button:hover{
        color: white;
        i{
            color: white;
        }
    }
    i {
      transform: rotate(0deg);
      color: black;
      transition: 1s;
    }
    i.active {
      transform: rotate(180deg);
      transition: 1s;
    }
  }
}
